# Tuples
* It's similar to list
* It is immutable

In [7]:
a = (1,2,3,4,5)
a

(1, 2, 3, 4, 5)

In [8]:
b,c = 10,20
b,c

(10, 20)

In [9]:
x = 10
y = 20
x,y

(10, 20)

In [10]:
print(type(a))

<class 'tuple'>

In [11]:
e = 5,6
print(e)
print(type(e))

(5, 6)
<class 'tuple'>

In [12]:
e[0]

5

In [13]:
e[-1]

6

In [15]:
e[1]

6

In [16]:
e[-2]

5

In [17]:
a = 1,2,3,5,6,7,8
a

(1, 2, 3, 5, 6, 7, 8)

In [18]:
a[1:4]

(2, 3, 5)

In [19]:
a[3:]

(5, 6, 7, 8)

In [20]:
a[4] = 40

TypeError: 'tuple' object does not support item assignment

In [21]:
del a[2]

TypeError: 'tuple' object doesn't support item deletion

In [22]:
del a

In [23]:
print(a)

NameError: name 'a' is not defined

# Tuple Functions

In [1]:
a = (1,2,3)
b = 4,5

In [2]:
# For loops
for i in a:
    print(i)

1
2
3

In [3]:
1 in a

True

In [4]:
5 in a

False

In [5]:
# Length
len(a)

3

In [6]:
# Tuple Concatenation
c = a+b
c

(1, 2, 3, 4, 5)

In [8]:
d = (a,b)
d

((1, 2, 3), (4, 5))

In [9]:
e = a*4
e

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [18]:
# Max and Min
max(a)

3

In [19]:
min(a)

1

In [21]:
a2 = (1,2,(1,2))
max(a2)

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [22]:
a3 = (2,5,0,1.2,7,89,9.8)
max(a3)

89

In [23]:
# List to Tuple
l = [1,2,3,4,5]
tuple(l)

(1, 2, 3, 4, 5)

# Variable length input and output

In [27]:
def sum1(a,b, *more):
    print(a)
    print(b)
    print(more)
    
    ans = a+b
    for i in more:
        ans += i
        
    return ans

In [28]:
sum1(1,2)

1
2
()

3

In [29]:
sum1(1,2,3,4,5,6)

1
2
(3, 4, 5, 6)

21

### Returning more than one value

In [33]:
def sum2(a,b):
    return a+b,a-b,a*b

sum2(4,9)

(13, -5, 36)

In [34]:
c,d = sum2(4,9)
print(c)
print(d)

ValueError: too many values to unpack (expected 2)

In [36]:
c = sum2(4,9)
c

(13, -5, 36)

In [37]:
c,d,e = sum2(4,9)
print(c)
print(d)
print(e)

13
-5
36