# Sets
* Collection of data but there is no particular ordering to it

In [20]:
a = {'apple','abc',23}
a

{23, 'abc', 'apple'}

In [21]:
type(a)

set

In [22]:
a[0]

TypeError: 'set' object is not subscriptable

In [23]:
a['abc']

TypeError: 'set' object is not subscriptable

In [24]:
'abc' in a

True

In [25]:
21 in a

False

In [26]:
for i in a:
    print(i)

abc
23
apple

In [27]:
len(a)

3

### Adding/Removing Data

In [28]:
a.add('temp')
a

{23, 'abc', 'apple', 'temp'}

In [29]:
b = {'abc','ghi'}

In [30]:
a.update(b)
a

{23, 'abc', 'apple', 'ghi', 'temp'}

In [31]:
a.remove('temp')
a

{23, 'abc', 'apple', 'ghi'}

In [32]:
a.remove('rrr')
a

KeyError: 'rrr'

In [33]:
print(a.discard(23))
a

None

{'abc', 'apple', 'ghi'}

In [34]:
print(a.discard('rrr'))

None

# Functions in Sets

In [35]:
a = {1,2,3,4}
b = {3,4,5,6}

In [36]:
a.intersection(b)

{3, 4}

In [37]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [38]:
# Everything that is in 'a' but not in 'b'
a.difference(b)

{1, 2}

In [39]:
# Everything that is in 'b' but not in 'a'
b.difference(a)

{5, 6}

In [40]:
# This is basically union minus intersection (union-intersection)
a.symmetric_difference(b)

{1, 2, 5, 6}

In [41]:
b.symmetric_difference(a)

{1, 2, 5, 6}

In [44]:
a.intersection_update(b)
a

{3, 4}

In [45]:
a = {1,2,3,4}
b = {3,4,5,6}

In [46]:
# Everything that is not in intersection but in 'a', that will move to a
a.difference_update(b)
a

{1, 2}

In [48]:
a = {1,2,3,4}
b = {3,4,5,6}

In [49]:
a.symmetric_difference_update(b)
a

{1, 2, 5, 6}

In [51]:
a = {1,2,3,4}
b = {3,4,5,6}

In [52]:
a.issubset(b)

False

In [53]:
b.issubset(a)

False

In [61]:
a = {1,2,3,4}
b = {3,4,5,6}
c = {3,4}
d = {7,8}

In [55]:
a.issubset(c)

False

In [56]:
c.issubset(a)

True

In [57]:
c.issubset(b)

True

In [58]:
a.issuperset(c)

True

In [59]:
b.issuperset(c)

True

In [60]:
c.issuperset(a)

False

In [62]:
a.isdisjoint(b)

False

In [63]:
a.isdisjoint(d)

True

# Sum of all unique numbers in list

In [64]:
a = {1,2,3,1,3}
a

{1, 2, 3}

In [65]:
len(a)

3

In [66]:
a.add(2)
a

{1, 2, 3}

In [67]:
a.add(4)
a

{1, 2, 3, 4}

In [68]:
def sum_unique(l):
    s = set() #creates an empty set
    for i in l:
        s.add(i)
        
    sum = 0
    for i in s:
        sum += i
        
    return sum

sum_unique([1,1,2,4,6,3,2])

16

In [69]:
sum_unique([1,2,3,4,4,3,4,2,1,5,5])

15