In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

D:\Anaconda\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

# Find Correlation

In [ ]:
In the Big mart dataset, you have separated the information for Items and outlets. Now your task is to find the correlation 
between "ItemOutletSales" and all other features of the "split_items" dataset.
Your task is to split the big mart dataset based on "Items" and "Outlet" information as discussed in the video. 
Then find the feature having a correlation greater than 0.5 in the "splititems" dataset with the feature "ItemOutlet_Sales".

Expected Output
Print the feature with a correlation greater than 0.5 with "Item_Outlet_Sales" in the "split_items" dataset.

In [5]:
df = pd.read_csv('bigmart.csv')
df['rowno'] = np.arange(len(df))
df_items = df.filter(['rowno','Item_Identifier','Item_Weight','Item_Fat_Content','Item_Visibility','Item_MRP','Item_Outlet_Sales'])
df_items.corr()

print('Item_MRP')

Item_MRP

# All Merge

In [ ]:
You have been provided with two datasets:
data1 = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]}

data2 = {
  "name": ["Sally", "Peter", "Micky"],
  "age": [77, 44, 22]
}

Your task is to merge these two datasets in such a way that all the rows of both the dataset are present in the merged dataset.

Expected output
Print the number of unique values present in the â€œnameâ€ column.

In [4]:
data1 = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]}

data2 = {
  "name": ["Sally", "Peter", "Micky"],
  "age": [77, 44, 22]
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
merged = pd.merge(df1,df2,on=['name','age'],how='outer')
print(merged['name'].nunique())

5

# Merge Data

In [ ]:
You have been given two data frames.
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})

df2 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                'salary': [70000, 80000, 120000, 90000]})
Problem Statement
You need to merge these two datasets. Here the employee for df1 is similar to the name for df2. 
Also, you need to remove the name column from the merged data frame.

Expected Output
Print the shape of the merged dataset.

In [6]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})

df2 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                'salary': [70000, 80000, 120000, 90000]})

df2.rename(columns = {'name':'employee'}, inplace = True)
merged = pd.merge(df1,df2,on='employee',how='outer')
print(merged.shape)

(4, 3)

# Filter Airline

In [ ]:
The B6 airline has been struggling with handling the amount of traffic that comes to the Delhi and Banglore airports. 
They need to make a decision if they need to add one more aeroplane to these airports. You have been provided with the 
airline dataset. Your task is to filter out this dataset based on the following conditions:
1. Either the destination is DEL or the origin is BLR.
2. Air time should be less than 5 hrs.
3. Carrier should be B6.

The dataset is given below:
airline = {
    "Carrier": ["B6", "WW", "B6", "B6", "WN", "WW", "B6"],
    "Origin": ["BLR", "JAI", "SAG", "SXR", "BLR", "JLR", "DLI"],
    "Destination": ["DEL", "DEL", "HYD", "DEL", "JAI", "KLH", "RPR"],
    "Time": [3, 2, 5, 3, 6, 4, 3]
}

Expected Output
Print the sum of air_time from the filtered dataset.

In [16]:
import pandas as pd

airline = {
    "Carrier": ["B6", "WW", "B6", "B6", "WN", "WW", "B6"],
    "Origin": ["BLR", "JAI", "SAG", "SXR", "BLR", "JLR", "DLI"],
    "Destination": ["DEL", "DEL", "HYD", "DEL", "JAI", "KLH", "RPR"],
    "Time": [3, 2, 5, 3, 6, 4, 3]
}

df = pd.DataFrame(airline)
filtered_data = df[((df['Origin']=='BLR') | (df['Destination']=='DEL')) & (df['Time']<5) & (df['Carrier']=='B6')]
print(filtered_data['Time'].sum())

6

# Dairy Products

In [ ]:
For the big mart dataset, you have been given a task to find the average of the MRP for the "Dairy" products which are present 
in the "Medium" size outlets.

Expected Output
Print the average MRP for Diary products in the medium size outlets rounded to 2 decimal places.

In [22]:
df = pd.read_csv('bigmart.csv')
filtered_data = df[(df['Item_Type']=='Dairy') & (df['Outlet_Size']=='Medium')]
print(round(filtered_data['Item_MRP'].mean(),2))

148.51

# Highest Sales

In [ ]:
For the big mart dataset, your manager wants to make a decision on opening a new outlet, she gave you the task to provide her 
with the data grouped by the location of the previously opened outlets and the type of outlet and 
find out the average itemoutletsales for each of these groups.

Expected output
Print the highest sum of sales based on the "Outlet Type" and the "Outlet Location Type". 
Convert the output to the integer type having a floor value.

In [37]:
df = pd.read_csv('bigmart.csv')
# df.groupby(['Outlet_Location_Type','Outlet_Type']).agg({'Item_Outlet_Sales':np.mean})
s = df.groupby(['Outlet_Location_Type','Outlet_Type']).agg({'Item_Outlet_Sales':np.sum})
print(int(s['Item_Outlet_Sales'].max()))

6472313

# Sales Data

In [ ]:
An investor is interested in funding your company but first requests some sales data. Your manager has assigned you to display 
the records "Small" outlet size. Another requirement is that only "Tier 1" outlet locations are needed.

Expected Output
Print the highest sum of Item_Outlet_Sales grouped by "Outlet_Identifier", filtered by Outlet_Location_Type and Outlet_Size.

Convert the answer to the int data type with floor value,

In [45]:
df = pd.read_csv('bigmart.csv')
filter_data = df[(df['Outlet_Size']=='Small') & (df['Outlet_Location_Type']=='Tier 1')]
s = filter_data.groupby('Outlet_Identifier').agg({'Item_Outlet_Sales':np.sum})
print(int(s['Item_Outlet_Sales'].max()))

2118395