In [2]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('terrorismData.csv')
test = df.copy()
df.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

# Terror Attack City

In [ ]:
The Most Dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city?
Print count of number of attacks in that city as integer value.
Note:Ignoring the Unknown Terrorist Group.Here Dangerous related with the number of terrorist attacks.

In [52]:
import pandas as pd

df = pd.read_csv('terrorismData.csv')
s = df[df['State']=='Jammu and Kashmir']
s = s[s['City']==s['City'].describe().top]

count = s.shape[0]
s = s[s['Group']!='Unknown']
city = s['City'].describe().top
group = s['Group'].describe().top

print(city, count, group)

Srinagar 657 Muslim Separatists

# Terror Government

In [ ]:
There was formation of new government in India on 26 May 2014. So current government's span is from 26th May 2014 to current. 
Find out two things from this period-
1. Total number of attacks done in this period in India. Find this count as integer.
2. Which Terrorist group was most active in this period in India. Most active means, 
group which has done maximum number of attacks. 
3.Ignore the Unknown group.

In [67]:
df = pd.read_csv(r"terrorismData.csv")

a = df[df['Day']>=26]
b = a[a['Year']==2014]
c = b[b['Country']=='India']
ans1 = c[c['Month']==5]
del a
del b
del c

a = df[df['Year']==2014]
b = a[a['Country']=='India']
ans2 = b[b['Month']>5]
del a
del b

a = df[df['Country']=='India']
ans3 = a[a['Year']>2014]

count = ans1.shape[0]+ans2.shape[0]+ans3.shape[0]

print(count, end=' ')
ans1 = ans1[ans1['Group']!='Unknown']
ans2 = ans2[ans2['Group']!='Unknown']
ans3 = ans3[ans3['Group']!='Unknown']
print(ans3['Group'].describe().top)

3336 Maoists

# Terror Frequency

In [ ]:
Find the frequency of the Casualty in Red Corridor states and in Jammu and Kashmir ?
Here Frequency is (Total Casualty/Total Number of a year)
Print frequency as integer value.

Note:Red Corridor state includes Jharkhand, Odisha, Andhra Pradesh, and Chhattisgarh. Here Casualty=Killed +Wounded.
Don't fill the nan value present in Killed and Wounded feature.

In [68]:
import pandas as pd 
import numpy as np

df_terrorism = pd.read_csv(r"terrorismData.csv")
year = len(set(df_terrorism['Year']))

df_terrorism = df_terrorism[df_terrorism['Country']=='India']

df_terrorism['Casualty'] = df_terrorism['Killed']+df_terrorism['Wounded']

Jammu_state = df_terrorism[df_terrorism['State']=='Jammu and Kashmir']

red_state = df_terrorism[(df_terrorism['State']=='Jharkhand')|(df_terrorism['State']=='Odisha')
                       |(df_terrorism['State']=='Andhra Pradesh')|(df_terrorism['State']=='Chhattisgarh')]

red_casualty = int(np.sum(red_state['Casualty']))

Jammu_casualty = int(np.sum(Jammu_state['Casualty']))

print(red_casualty//year,Jammu_casualty//year)

115 261