# Calculate Memory Difference

In [ ]:
Write a program that calculates and prints the difference between the memory size of a given NumPy array and a given 
Python list.

In [2]:
import numpy as np
import sys

np_arr = np.array([1, 2, 3])
list_arr = [1, 2, 3]

print((np_arr.itemsize*np_arr.size)-(sys.getsizeof(list_arr[0])*len(list_arr)))

-72

# List to NumPy Array

In [ ]:
Write a program to convert a given list to a NumPy array with the data type as an integer. Print this NumPy array.

In [1]:
import numpy as np

lis=[1.2, 2.3, 3.4]
a = np.array(lis,dtype=int)
print(a)

[1 2 3]

# NumPy 2D array

In [ ]:
Given a 2D list, create a numpy 2D array using it.
Note: Given 2D list is [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Print the Numpy array.

In [2]:
a = np.array(([[1, 2, 3], [4, 5, 6], [7, 8, 9]]))
print(a)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

# NumPy 0s and 1s

In [ ]:
Create an integer array of size 10, where all the values should be 0 but the fifth value should be 1.

In [6]:
a = np.zeros(10,dtype=int)
a[4] = 1

for i in a:
    print(i,end=' ')

0 0 0 0 1 0 0 0 0 0

# NumPy Inclusive

In [ ]:
Create an array with values ranging consecutively from 9 to 49 (both inclusive).

In [11]:
a = np.arange(9,50)

for i in a:
    print(i,end=" ")

9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

# Identity Matrix

In [ ]:
Create a matrix having diagonal elements as 1 and all other elements as 0 of size (5, 6).

In [15]:
a = np.eye(5,6,dtype=int)
print(a)

[[1 0 0 0 0 0]
 [0 1 0 0 0 0]
 [0 0 1 0 0 0]
 [0 0 0 1 0 0]
 [0 0 0 0 1 0]]

# Cut the Rope

In [ ]:
You are given a rope of length 5m. Cut the rope into 9 parts such that each part is of equal length.
Note:Array elements are the points where cut is to be made and round upto 2 decimal place.

In [22]:
a = np.linspace(0,5,10)[1:9]

for i in a:
    print(round(i,2))

0.56
1.11
1.67
2.22
2.78
3.33
3.89
4.44

# Create NumPy Array

In [ ]:
Write a program to generate a NumPy array containing even values between n1 and n2 (both inclusive). Print the NumPy array.

In [25]:
n1=10
n2=22

a = np.arange(n1,n2+1,2)
print(a)

[10 12 14 16 18 20 22]

# Create NumPy Array-1

In [ ]:
Write a program to create a 1D-NumPy array of length 30, with  all values integer 10.

In [31]:
a = np.full(30,10,dtype=int)
print(a)

[10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10
 10 10 10 10 10 10]

# NumPy Diagonal

In [ ]:
Write a program to generate and print a NumPy array of size "m x m", with the value of all the diagonal elements as 5.0 
and the rest as 0.0.

In [32]:
a = np.identity(5)*5
print(a)

[[5. 0. 0. 0. 0.]
 [0. 5. 0. 0. 0.]
 [0. 0. 5. 0. 0.]
 [0. 0. 0. 5. 0.]
 [0. 0. 0. 0. 5.]]

# Print Elements

In [ ]:
Given a 2D integer array size (4, 5) with name input_?
Print elements of highlighted matrix

In [3]:
input_=np.arange(1,21,1)
input_=input_.reshape(4,5)
input_

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [22]:
a = input_[2,:3]
b = input_[1:,3]
c = input_[2:,:]
d = input_[1:3,1:3]

for i in a:
    print(i,end=' ')
print()
for i in b:
    print(i,end=' ')
print()    
for i in c:
    for j in i:
        print(j,end=' ')
print()   
for i in d:
    for j in i:
        print(j,end=' ')

11 12 13
9 14 19
11 12 13 14 15 16 17 18 19 20
7 8 12 13

# Non-Zero elements

In [ ]:
Find indices of non-zero elements from the array [1,2,0,0,4,0] ?
Print the index of non-zero elements.

In [8]:
a = np.array([1,2,0,0,4,0])
indexes = np.where(a!=0)

for i in indexes:
    for j in i:
        print(j,end=' ')

(array([0, 1, 4], dtype=int64),)
0 1 4

# Multiples of 3

In [ ]:
Given an integer array of size 10. Print the index of elements which are multiple of 3.
Note: Generate the following array
array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19])

In [11]:
a = np.array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19])
indexes = np.where(a%3==0)

for i in indexes:
    for j in i:
        print(j,end=' ')

1 4 7

# Odd elements

In [ ]:
Given an integer array of size 10. Replace the odd number in numpy array with -1 ?
Note: Generate the following array
array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [14]:
a = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
a[a%2!=0]=-1

for i in a:
    print(i,end=' ')

[ 1  2  3  4  5  6  7  8  9 10]
-1 2 -1 4 -1 6 -1 8 -1 10

# Replace Max
#### np.argmax(array): Returns the indices of the maximum values along an axis

In [ ]:
Given an integer array of size 9 and replace the first occurrence of maximum value by 0?
Note: Generate the following array
array([11, 2, 13, 4, 15, 6, 27, 8, 19])

In [19]:
a = np.array([11, 2, 13, 4, 15, 6, 27, 8, 19])
a[np.argmax(a)] = 0

for i in a:
    print(i)

11
2
13
4
15
6
0
8
19

# Negate Elements

In [ ]:
Given a 1D array, negate all elements which are between 3 and 8 (both inclusive)?
Note: Generate the following array
array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [23]:
a = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
a[(a>=3)&(a<=8)] = a[(a>=3)&(a<=8)] * -1

for i in a:
    print(i)

1
2
-3
-4
-5
-6
-7
-8
9
10

# Height

In [ ]:
Given age and height of 20 students in two different numpy arrays with name age and height (in cms). 
Print the age of those students whose height is above 155 cm.

In [33]:
age = np.array([15,17,19,20,14,21,16,19,13,20,22,23,21,16,18,19,20,15,17,18])
height = np.array([156,144,180,162,152,157,154,155,151,150,158,179,126,182,183,154,159,160,172,149])

indexes = np.where(height>155)

age_new = age[indexes]
height_new = height[indexes]

i = 0
while i<len(age_new):
    print(age_new[i],' ',height_new[i])
    i += 1

[15 19 20 21 22 23 16 18 20 15 17]
[156 180 162 157 158 179 182 183 159 160 172]
15   156
19   180
20   162
21   157
22   158
23   179
16   182
18   183
20   159
15   160
17   172

# Sort by column

In [ ]:
Sort a given 2D array of shape (4, 5) by 2nd column (i.e. column at index 1) in ascending order.
That means, we should re-arrange complete row based on 2nd columns' values.
Given 2D array is:
 [[21 20 19 18 17]
  [16 15 14 13 12]
  [11 10  9  8  7]
  [ 6  5  4  3  2]]
Print the 2D array in sorted order.
Note you have to generate the 2D Array.Here 2nd column means column present at index 1.

Output Format :
[[ 6  5  4  3  2]
[11 10  9  8  7]
[16 15 14 13 12]
[21 20 19 18 17]]

In [53]:
a = np.array([[21, 20, 19, 18, 17],[16, 15, 14, 13, 12],[11, 10,  9,  8,  7],[6,  5,  4,  3,  2]])

print(a[::-1])

[[ 6  5  4  3  2]
 [11 10  9  8  7]
 [16 15 14 13 12]
 [21 20 19 18 17]]

# NumPy Index

In [ ]:
Given a NumPy array that contains English marks of students, with NumPy index as the student's roll number, 
write a program to generate a NumPy array containing the roll numbers of students who scored at least 90 marks. 
Print this array.

In [54]:
marks = np.array([98, 100, 87, 94, 56, 91])

index = np.where(marks>=90)
print(index)

(array([0, 1, 3, 5], dtype=int64),)

# Boolean Indexing

In [ ]:
Write a program to generate a new NumPy array containing only those elements that are even and greater than 20 
from a given NumPy array.

In [3]:
np_arr=np.array([29, 89, 34, 57, 80, 6, 18])

arr = np_arr[(np_arr%2==0) & (np_arr>20)]
print(arr)

[34 80]

# NumPy Operations

In [ ]:
Given a NumPy array, write a program to print the following:
    1. The sum of all elements
    2. The minimum element
    3. The index of the maximum element

In [1]:
np_arr = np.array([10, 19, 10, 2, 3])

print("Mean of all elements of NumPy array is ")
print(np_arr.sum())
    
print("Minimum value in NumPy array is") 
print(np_arr.min())
    
print("Index where maximum value is present is")   
print(np_arr.argmax())

Mean of all elements of NumPy array is
44
Minimum value in NumPy array is
2
Index where maximum value is present is
1

# Operations on NumPy Arrays

In [ ]:
Given two NumPy arrays, one containing English marks and the other containing marks in Maths for all students, 
write a program to create NumPy arrays containing the following:

1. Total marks of each student.
2. Average marks of each student in English and Maths.
3. Boolean values indicating whether the marks in English are 
   less than Maths for each student.

In [2]:
eng_marks = np.array([98, 78, 56])
maths_marks = np.array([78, 90, 67])

total_marks = eng_marks+maths_marks

avg_marks = (eng_marks+maths_marks)/2

bool_arr = eng_marks<maths_marks

print(total_marks,avg_marks,bool_arr)

[176 168 123] [88.  84.  61.5] [False  True  True]